*{
    box-sizing: border-box;
}

header{
    justify-content: center;
    align-items: center;
    background-color: #d6c5ff;
    border-radius: 5px;
}





nav {
    background-color: 465 23 #C1A4FF;
    display: inline;
    align-items: center;
    justify-content: center;
}


a {
    text-decoration: none;
    color: #000000;
}


footer{
    background-color: #8983FF;
    border-radius: 5px;
}
