.logo { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0px;
    margin-inline: 0px;
    padding-top: 10px;
}

.pesquisa{
    all: unset;
    width: 50px;
    background-color: #F2F2F2;
    border: solid 2px #C1C1C1;
    border-radius: 15px;
    font-family: sans-serif;
    color: #000000;
    font-size: medium;
    padding: 5px;
    margin-left: 10px;
}

.btn-pesquisa{
    all: unset;
}

.btn-pesquisa svg{
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.btn-pesquisa:hover svg{
    -webkit-transform: scale(1.2);
   transform: scale(1.2);
}

.barra-header{
    display: flex;
    flex-direction: row;
    background-color: #b08bff;
    border-radius: 5px;
    list-style: none;
    gap: 25px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-inline: 10px;
    margin-bottom: 5px;
}

.barra-header li{
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.barra-header:hover li{
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.header-lista{
    all: unset;
    background-color: #f5f1ff;
    font-family: sans-serif;
    font-weight: 1000px;
    color: #000000;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
}


.imagem{
    
    box-sizing: border-box;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    width: 530px;
    border: 2px solid #20105B;
    border-radius: 5px;
    margin-bottom: 5px;
    

}

.imagem img{
    width: 100%;
    height: 100%;
}

.titulo{
    width: fit-content;
    padding-inline: 12px;
    background-color: #b08bff;
    border: solid 2px #322A9B;
    display: block;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    margin-top: 10;
    margin-bottom: 5px;
    overflow: hidden;

    
}

.titulo h1{
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.titulo:hover h1{
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.subtit{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

.subtit h2{
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.subtit:hover h2{
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.flor1{
    width: 70px;
    padding-left: 40px;
    margin-bottom: 10px;
}

.flor2{
    width: 70px;
    padding-right: 40px;
    margin-bottom: 10px;
}

.artigo1{
    
    display: grid;
    grid-template-areas:"secao-1";
    gap: 50px;
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 20px;
    border-top: solid 3px #251E9E;
    border-left: solid 3px #251E9E;
    border-radius: 5px; 
}

.artigo2{
    display: grid;
    grid-template-areas:"secao-2";
    gap: 50px;
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 20px;
    border-top: solid 3px #251E9E;
    border-right: solid 3px #251E9E;
    border-radius: 5px; 
}

.artigo3{
    display: grid;
    grid-template-areas:"secao-3";
    gap: 50px;
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 20px;
    border-top: solid 3px #251E9E;
    border-left: solid 3px #251E9E;
    border-radius: 5px;
}

.artigo4{
    display: grid;
    grid-template-areas:"secao-4";
    gap: 50px;
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 20px;
    border-top: solid 3px #251E9E;
    border-right: solid 3px #251E9E;
    border-radius: 5px;
}

.artigo5{
    display: grid;
    grid-template-areas:"secao-5";
    gap: 50px;
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 20px;
    border-top: solid 3px #251E9E;
    border-left: solid 3px #251E9E;
    border-radius: 5px;
}

.img-cont{
    box-sizing: border-box;
    width: 530px;
    border: 2px solid #20105B;
    border-radius: 5px;
    margin-bottom: 5px;
}

.container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 5px;
    background-color: #4f1e9e;
    font-family: sans-serif;
    color: #e7e6ff;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 0;

}

.linha{
    display: flex;
    flex-direction: column;
    width: 88px;
    height: 0px;
    border: 1.5px solid #251E9E;
}

.estilo{
    display: flex;
    flex-direction: row;
}


.bloco-serv{
 
    align-items: left;
    justify-content: left;
    width: 84px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    list-style: none;
    display: flex;
    flex-direction: column;

}

.bloco-serv li{
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.bloco-serv:hover li{
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.bloco-redes{

    align-items: center;
    justify-items: auto;
    display: flex;
    flex-direction: row;
    width: 115.17px;
    margin-bottom: 10px;
    list-style: none;
    padding-left: 80px;
    padding-bottom: 37px;


}

.bloco-redes li{
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease; 
}

.bloco-redes:hover li{
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
}


.service{
    padding: 5px;
    justify-content: left;
}

.logo-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    padding-left: 40px;
}
